body {
  background-color: #545454;
  color: white;
 
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: white;
  border-width: 10px;
  border-style: double;
  
}

.navimg{

    width: 45px;
      height: 45px;
      border-radius: 50%;
      border-color: white;
      border-width: 1px;
      border-style: double;
      font-family: Arial, Helvetica, sans-serif;
}

.icon_bar {
   
   background-color: #181818;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.icon_link{
  color:var(--color);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: .3s ease;
  -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.icon_link:hover {
  background-color: var(--color);
  color: white;
  box-shadow: 0 4px 30px var(--color) ;
 
}


