<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- Selling Confirm -->
<div class="modal fade" id="Modal-ChangePassword-{{ User_id_V }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel" style="color: white;">
          <!-- -->
          {{ User_name_V }}
        </h5>
      </div>
      <div class="modal-body">
        <form method="POST" style="color: white;">
          {{ form_Change_password_V.hidden_tag() }}
          <h4 class="text-center">
            Are you sure you want to Change your password ?
          </h4>
          <br>

          {{ form_Change_password_V.password_Old.label(class="text-end") }}
          {{ form_Change_password_V.password_Old(class="form-control mt-2 mb-2", placeholder="Old password") }}

          {{ form_Change_password_V.New_password1.label() }}
          {{ form_Change_password_V.New_password1(class="form-control mt-2 mb-2", placeholder="New password") }}

          {{ form_Change_password_V.New_password2.label() }}
          {{ form_Change_password_V.New_password2(class="form-control mt-2 mb-2", placeholder="Confirm New password") }}

          <br>
          <div class="text-center">
            {{ form_Change_password_V.submit(class="btn btn-lg btn-block btn-primary",id="submitpassword") }}
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>